body{
  background-color: #B227E3!important;
}
.homepage{
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-homepage{
  text-align: center;
  width: auto;
}
.App{
  overflow: auto;
  display: flex;
  overflow: none;
}
.left{
  width: 50%;
  min-height: 100vh;
  background-color: rgb(242,242,242);
}
.right{
  width: 50%;
  min-height: 100vh;
  display: inline-block;
  background-color: grey;
  overflow: none;
}

.pdf-container{
  height: 100%;
}
iframe{
  width:100%;
  height: 100%;
}
@media (max-width: 576px){
  .App{
    overflow: auto;
    display: block;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
}